.task-form {
  padding: 2em 0;
  margin: auto;
  width: 50%;
}

.task-form-input,
.task-form-error {
  margin-bottom: 2em;
}

.task-form-error {
  padding: 0.75em 0.5em;
}

.alert-danger {
  color: #721c24;
  background-color: #f8d7da;
  border: 1px solid #f5c6cb !important;
}

.task-form label {
  margin-bottom: 1em;
  display: inline-block;
  font-weight: 700;
}

.task-form input {
  width: 100%;
  padding: 0.75em 0.5em;
  border: 1px solid black;
  border-radius: 3px;
}

@media screen and (min-width: 769px) {
  min-width: 350px;
}

@media screen and (max-width: 768px) {
  .task-form {
    width: 80%;
  }
}

@media screen and (max-width: 576px) {
  .task-form {
    width: 100%;
  }
}
