/* CSS reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  min-height: 100%;
}

body {
  line-height: 1.6;
  scroll-behavior: smooth;
  min-height: 100%;
  font-size: 16px;
  font-size: 1.6rem;
}

a:hover,
a:visited,
a:link,
a:active {
  text-decoration: none;
  color: inherit;
}

button {
  cursor: pointer;
}

/* Page Layout */
.container {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content-wrap {
  flex: 1;
}
